
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
venv*/
.env
.env.*

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml


.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

*.tfplan

*.tar

.vscode/
.idea/

.DS_Store
Thumbs.db


data/processed/
data/raw/


*.log


.aws/

dist/
build/
*.egg-info/

lambda.zip
lambda_handler.zip